<section class="section">
  <div class="container">
    <div class="footer-soc">
      <div class="info-foto">
        <img src="/src/images/QX9O1AZUPM-2.jpg" alt="foto" width="60px" height="60px">
      </div>
      <div>
        <ul class="menu-soc">
          <li class="menu-soc__list">
            <a class="menu-soc__link" href="">Instagram</a>
          </li>
          <li class="menu-soc__list">
            <a class="menu-soc__link" href="">Facebook</a>
          </li>
          <li class="menu-soc__list">
            <a class="menu-soc__link" href="">LinkedIn</a>
          </li>
        </ul>
      </div>
      <div class="info-contact">
          <ul class="info-contact-list">
            <Li>
              <a class="info-contact-tel" href="tel:+380504571996">+38 050 457 19 96</a>
            </Li>
            <Li>
              <a class="info-contact-tel" href="tel:+420723088900">+420 723 088 900</a>
            </Li>
            </ul>
      </div>
      <div class="info-link">
        <a href="mailto:natabelous@icloud.com">natabelous@icloud.com</a>
      </div> 
    </div>     
  </div>
</section>